body {
  margin: 0;
}

p {
  font-family: 'Bangers', cursive;
  margin: 0
}

.size_50 {
  font-size: 312.5%;
}

.size_40 {
  font-size: 250%;
}

.size_30 {
  font-size: 187.5%;
}

.first {
  width: 120rem;
  height: 67.5rem;
  background: #F9F6D0 0 0 no-repeat padding-box;
  opacity: 1;
}

.first_right {
  left: 53.6875rem;
  width: 66.4375rem;
  height: 67.5rem;
  background: transparent url("images/1.png") 0 0 no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.first_right_img {
  top: 14.5rem;
  left: 64rem;
  width: 51.5625rem;
  height: 42.9375rem;
  background: transparent url("images/rocket.png") 0 0 no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.first_left_logo {
  top: 2.375rem;
  left: 6.25rem;
  width: 22.75rem;
  height: 4.25rem;
  background: transparent url("images/2.png") 0 0 no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.first_left_text_head {
  top: 28.25rem;
  left: 5.8125rem;
  width: 41.9375rem;
  height: 7.25rem;
  text-align: left;
  letter-spacing: 0;
  color: #0A3F56;
  opacity: 1;
  position: absolute;
}

.first_left_text_des {
  top: 36.4375rem;
  left: 5.8125rem;
  width: 40.0625rem;
  height: 8.875rem;
  text-align: left;
  letter-spacing: 0;
  color: #FFA015;
  opacity: 1;
  position: absolute;
}

button {
  top: 48.75rem;
  left: 5.8125rem;
  width: 25rem;
  height: 3.75rem;
  background: transparent url("images/button.png") 0 0 no-repeat padding-box;
  opacity: 1;
  position: absolute;
  border: none;
}

span {
  top: 43.4375rem;
  left: 12.0625rem;
  width: 12.5rem;
  height: 2.8125rem;
  text-align: center;
  letter-spacing: 0;
  color: #F9F6D0;
  opacity: 1;
  font-family: 'Bangers', cursive;
}

.second {
  top: 67.5rem;
  left: 0;
  width: 120rem;
  height: 42.25rem;
  background: #60C1C2 0 0 no-repeat padding-box;
  opacity: 1;
}

.second_first {
  top: 73.125rem;
  left: 5.8125rem;
  width: 31.25rem;
  height: 31.25rem;
  background: var(--unnamed-color-ffffff) 0 0 no-repeat padding-box;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border-radius: 9.375rem;
  opacity: 1;
  position: absolute;
}

.second_first_img {
  margin-left: 8.75rem;
  margin-top: 5rem;
  top: 78.6875rem;
  left: 14.8125rem;
  width: 12.5rem;
  height: 6.875rem;
  background: transparent url("images/2_1.png") 0 0 no-repeat padding-box;
  opacity: 1;
}

.second_first_head {
  margin-left: 2.8125rem;
  margin-top: 0.3125rem;
  top: 85.875rem;
  left: 9.8125rem;
  width: 24.875rem;
  height: 2.8125rem;
  text-align: center;
  letter-spacing: 0;
  color: #134E68;
  opacity: 1;
}

.second_first_des {
  margin-top: 3.125rem;
  margin-left: 1.875rem;
  top: 92.25rem;
  left: 9.25rem;
  width: 26rem;
  height: 2.1875rem;
  text-align: center;
  letter-spacing: 0;
  color: #FFA015;
  opacity: 1;
}

.second_second {
  top: 73.125rem;
  left: 44.5625rem;
  width: 31.25rem;
  height: 31.25rem;
  background: var(--unnamed-color-ffffff) 0 0 no-repeat padding-box;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border-radius: 9.375rem;
  opacity: 1;
  position: absolute;
}

.second_second_img {
  margin-left: 11.875rem;
  margin-top: 5rem;
  top: 78.6875rem;
  left: 56.25rem;
  width: 7.5625rem;
  height: 6.875rem;
  background: transparent url("images/2_2.png") 0 0 no-repeat padding-box;
  opacity: 1;
}

.second_second_head {
  margin-left: 1.25rem;
  margin-top: 0.3125rem;
  top: 86.375rem;
  left: 46.1875rem;
  width: 28rem;
  height: 2.8125rem;
  text-align: center;
  letter-spacing: 0;
  color: #134E68;
  opacity: 1;
  font-family: 'Bangers', cursive;
}

.second_second_des {
  margin-top: 3.125rem;
  margin-left: 2.8125rem;
  top: 93.3125rem;
  left: 47.375rem;
  width: 25.125rem;
  height: 2.1875rem;
  text-align: center;
  letter-spacing: 0;
  color: #FFA015;
  opacity: 1;
}

.second_third {
  top: 73.125rem;
  left: 82.6875rem;
  width: 31.25rem;
  height: 31.25rem;
  background: var(--unnamed-color-ffffff) 0 0 no-repeat padding-box;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border-radius: 9.375rem;
  opacity: 1;
  position: absolute;
}

.second_third_img {
  margin-left: 10.9375rem;
  margin-top: 5rem;
  top: 78.5625rem;
  left: 93.9375rem;
  width: 8.75rem;
  height: 6.875rem;
  background: transparent url("images/2_3.png") 0 0 no-repeat padding-box;
  opacity: 1;
}

.second_third_head {
  margin-left: 2.9375rem;
  margin-top: 0.3125rem;
  top: 86.375rem;
  left: 85.5rem;
  width: 24.875rem;
  height: 2.8125rem;
  text-align: center;
  letter-spacing: 0;
  color: #134E68;
  opacity: 1;
}

.second_third_des {
  margin-top: 3.125rem;
  margin-left: 4.375rem;
  top: 92.8125rem;
  left: 86.9375rem;
  width: 22.5rem;
  height: 2.1875rem;
  text-align: center;
  letter-spacing: 0;
  color: #FFA015;
  opacity: 1;
}

.third {
  top: 109.75rem;
  left: 0;
  width: 120rem;
  height: 94.125rem;
  background: #154E68 0 0 no-repeat padding-box;
  opacity: 1;
}

.third_head {
  top: 113.6875rem;
  left: 51.8125rem;
  width: 16.375rem;
  height: 3.5rem;
  text-align: center;
  letter-spacing: 0;
  color: #EA8898;
  opacity: 1;
  position: absolute;
}

.third_des {
  top: 118rem;
  left: 40.25rem;
  width: 39.5rem;
  height: 2.8125rem;
  text-align: center;
  letter-spacing: 0;
  color: #F9F6D0;
  opacity: 1;
  position: absolute;
}

.third_img {
  top: 125.0625rem;
  left: 12.4375rem;
  width: 95.0625rem;
  height: 56.5625rem;
  background: transparent url("images/third_big.png") 0 0 no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.third_img_one {
  top: 185.4375rem;
  left: 8.375rem;
  width: 9.5rem;
  height: 6.0625rem;
  background: transparent url("images/3_1.png") 0 0 no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.des_one {
  top: 194.875rem;
  left: 6.9375rem;
  width: 14.625rem;
  height: 2.5rem;
  text-align: center;
  letter-spacing: 0;
  color: #CEE4C0;
  opacity: 1;
  margin-top: 7.5rem;
  margin-left: -2.1875rem;
}

.third_img_two {
  top: 185.3125rem;
  left: 27.875rem;
  width: 7.5rem;
  height: 6.1875rem;
  background: transparent url("images/3_2.png") 0 0 no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.des_two {
  top: 193rem;
  left: 25.625rem;
  width: 13.4375rem;
  height: 2.5rem;
  text-align: center;
  letter-spacing: 0;
  color: #CEE4C0;
  opacity: 1;
  margin-top: 7.5rem;
  margin-left: -2.1875rem;
}

.third_img_third {
  top: 185.3125rem;
  left: 46.0625rem;
  width: 8.1875rem;
  height: 6.1875rem;
  background: transparent url("images/3_3.png") 0 0 no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.des_third {
  top: 193.5625rem;
  left: 45.3125rem;
  width: 10.8125rem;
  height: 2.5rem;
  text-align: center;
  letter-spacing: 0;
  color: #CEE4C0;
  opacity: 1;
  margin-top: 7.5rem;
  margin-left: -1.5625rem;
}

.third_img_fourth {
  top: 185.8125rem;
  left: 65.375rem;
  width: 6.0625rem;
  height: 6.25rem;
  background: transparent url("images/3_4.png") 0 0 no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.des_fourth {
  top: 193.5625rem;
  left: 61.375rem;
  width: 15.5rem;
  height: 2.5rem;
  text-align: center;
  letter-spacing: 0;
  color: #CEE4C0;
  opacity: 1;
  margin-top: 7.5rem;
  margin-left: -4.0625rem;
}

.third_img_fifth {
  top: 185rem;
  left: 83.1875rem;
  width: 6.625rem;
  height: 7.125rem;
  background: transparent url("images/3_5.png") 0 0 no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.des_fifth {
  top: 192.625rem;
  left: 82rem;
  width: 11rem;
  height: 2.5rem;
  text-align: center;
  letter-spacing: 0;
  color: #CEE4C0;
  opacity: 1;
  margin-top: 7.5rem;
  margin-left: -2.0625rem;
}

.third_img_sixth {
  top: 186.3125rem;
  left: 101.875rem;
  width: 7.5rem;
  height: 5.75rem;
  background: transparent url("images/3_6.png") 0 0 no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.des_sixth {
  top: 192.625rem;
  left: 97.6875rem;
  width: 16.5625rem;
  height: 2.5rem;
  text-align: center;
  letter-spacing: 0;
  color: #CEE4C0;
  margin-top: 7.5rem;
  margin-left: -4.6875rem;
}

.fourth {
  top: 0;
  left: 0;
  width: 120rem;
  height: 50rem;
  background: #F9F6D0 0 0 no-repeat padding-box;
  opacity: 1;
  margin-bottom: 0;
}

.fourth_right_img {
  top: 209.4375rem;
  left: 50.0625rem;
  width: 59.4375rem;
  height: 27.1875rem;
  background: transparent url("images/fouth.png") 0 0 no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.fourth_left_text_head {
  top: 217.0625rem;
  left: 6.25rem;
  width: 42.1875rem;
  height: 3.5rem;
  text-align: left;
  letter-spacing: 0;
  color: #0A3F56;
  opacity: 1;
  position: absolute;
}

.fourth_left_text_des {
  top: 222.125rem;
  left: 6.25rem;
  width: 37.4375rem;
  height: 2.875rem;
  text-align: left;
  letter-spacing: 0;
  color: #FFA015;
  opacity: 1;
  position: absolute;
}

.button_2 {
  top: 227.4375rem;
  left: 6.9375rem;
  width: 25rem;
  height: 3.75rem;
  background: transparent linear-gradient(180deg, #EA8898 0%, #EB8595 40%, #EF7E91 59%, #ED7089 73%, #EA5C7C 85%, #E8446D 96%, #E73A67 100%) 0 0 no-repeat padding-box;
  border-radius: 1.875rem;
  opacity: 1;
}

.fifth {
  top: 244.9375rem;
  left: 0;
  width: 120rem;
  height: 11.0625rem;
  background: #0A3F56 0 0 no-repeat padding-box;
  opacity: 1;
}

.fifth_img {
  top: 256.25rem;
  left: 45.0625rem;
  width: 29.9375rem;
  height: 5.5625rem;
  background: transparent url("images/bottom_logo.png") 0 0 no-repeat padding-box;
  opacity: 1;
  position: absolute;
}
